# Node
node_modules/
client/node_modules/
server/node_modules/

# Python
embedding-service/venv/
__pycache__/
*.pyc

# Environment
.env
server/.env
client/.env

# Uploads
server/uploads/

# Build
dist/
build/

# IDE
.vscode/

nexus_backend_code.txt

nexus_frontend_code.txt

nexus_folder_structure.txt